body{
    background-color: aquamarine;
}
img{
    height: 200px;
    width: 200px;
    position:absolute;
    right:10%;
    top:calc(100% - 200px/2);
<<<<<<< HEAD
}
=======
}
>>>>>>> 22f70e5da5c346c4021a3598ad55043ecb688482
