tr:nth-child(even){
background-color: rgb(90, 186, 181);
height: 15px;
}
tr:nth-child(odd){
    letter-spacing:10px;
    }
table{
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    background-color: black;
}