.custom-form-field {
    width: 50%;
    margin-bottom: 10px;
    display: block;
    margin: auto;
  }
  
  .button-container {
    
    
    margin-top: 10px;
    margin: auto;
    padding-left: 10px;
    justify-content: space-around;
    display: flex;
    margin-bottom: 30px;
  }
  